<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summarizer and Translator</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class="h-screen">
<div class="Head h-16 flex items-center justify-center bg-[#172554] text-white" style="background-color: #111827;">
    <h1 class="text-center text-3xl max-w-lg text-3xl font-semibold leading-normal dark:text-white">Summarize and Translate Legal Text</h1>
</div>



<section style="background-image: url('https://pagedone.io/asset/uploads/1691055810.png'); background-position: center; background-size: cover;">

    <div class="content flex h-screen ml-80 mr-10 mb-10 mt-[-300px] items-center">
    <div class="c1 flex flex-col justify-center">
    <form action="/abstractor" method="post" enctype="multipart/form-data" class="flex flex-col justify-center max-w-sm mx-auto">
        <label for="pdf_file" class="text-2xl"></label>
        <input type="file" name="pdf_file" id="pdf_file" required class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        <br><br>
        <label for="target_lang" class="text-2xl block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
        <select name="target_lang" id="target_lang" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option selected>Select a language</option>
            <option value="hi">Hindi</option>
            <option value="bn">Bengali</option>
            <option value="ta">Tamil</option>
            <option value="te">Telugu</option>
            
        </select>
        <br><br>
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Summarize and Translate</button>
        <br><br>
        <!-- <a href="{{ url_for('index') }}">Go Back</a> -->
    </form>
    </div>
    <div class="bg flex ml-96 mb-32 h-[400px]">
        <img src="https://res.cloudinary.com/duwddcqzi/image/upload/v1729284584/rb_2149232790_qickzj.png" alt="" srcset="">
    </div>



    {% if english_summary %}
    <h2>English Summary:</h2>
    <p>{{ english_summary }}</p>
    <audio controls>
        <source src="{{ url_for('static', filename=english_audio) }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <h2>Translated Summary:</h2>
    <p>{{ translated_summary }}</p>
    <audio controls>
        <source src="{{ url_for('static', filename=translated_audio) }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    {% endif %}
    
    <br>

</div>
</section>
</div>
</body>
</html>
